<!-- The sidebar -->
<div class="sidebar">
  <div class="glassmorph">
  <div class="login-page">
    <div class="form">
      <form class="login-form" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="username" [(ngModel)]="nome_usuario" name="nome_usuario"/>
        <input type="password" placeholder="password" [(ngModel)]="senha_usuario" name="senha_usuario"/>
        <button>login</button>
        <p class="message">Not registered? <a [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Create an account</a></p>
      </form>
    </div>
  </div>
</div>
</div>


