<app-header></app-header>
<h1>Criar Nova Ficha</h1>

<form class="register-form" (ngSubmit)="onSubmit()">

    <label for="characterName">Nome do Personagem</label>
    <input id="characterName" type="text" placeholder="Digite o nome do personagem" [(ngModel)]="ficha_nome" name="ficha_nome">



    <label for="characterRace">Raça do Personagem</label>
    <input id="characterRace" type="text" placeholder="Digite a raça do personagem" [(ngModel)]="ficha_raca" name="ficha_raca">



    <label for="characterClass">Classe do Personagem</label>
    <input id="characterClass" type="text" placeholder="Digite a classe do personagem" [(ngModel)]="ficha_classe" name="ficha_classe">



    <label for="characterLevel">Nível do Personagem</label>
    <input id="characterLevel" type="number" placeholder="Digite o nível do personagem" [(ngModel)]="ficha_nivel" name="ficha_nivel">


  <h2>Atributos do Personagem</h2>


    <label for="strength">Força</label>
    <input id="strength" type="number" placeholder="Digite o valor de força" [(ngModel)]="ficha_str" name="ficha_str">

    <label for="dexterity">Destreza</label>
    <input id="dexterity" type="number" placeholder="Digite o valor de destreza" [(ngModel)]="ficha_dex" name="ficha_dex">

    <label for="constitution">Constituição</label>
    <input id="constitution" type="number" placeholder="Digite o valor de constituição" [(ngModel)]="ficha_con" name="ficha_con">

    <label for="intelligence">Inteligência</label>
    <input id="intelligence" type="number" placeholder="Digite o valor de inteligência" [(ngModel)]="ficha_int" name="ficha_int">

    <label for="wisdom">Sabedoria</label>
    <input id="wisdom" type="number" placeholder="Digite o valor de sabedoria" [(ngModel)]="ficha_sab" name="ficha_sab">

    <label for="charisma">Carisma</label>
    <input id="charisma" type="number" placeholder="Digite o valor de carisma" [(ngModel)]="ficha_cha" name="ficha_cha">

  <button>Criar Ficha</button>
</form>
