div{
  background-image: url("../../../public/Eisqueleto.jpg");
  background-size: cover;
  width: 40vw;
  height: 40vh;
  margin: auto;
  border-color: rgb(0, 0, 0);
  border: 15px;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.75rem rgb(121, 74, 165));
  color: rgb(204, 204, 204);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  margin-bottom: 10vh;
  margin-top: 5vh;
  transition: all, 0.5s;

}
div:hover{
  transform: scale(1.2);
}
h1{
  padding: 5%;
}
h2{
  padding: 5%;
}
