<div class="banner">`
<ul>
<li><h1>Holy Sheets</h1></li>
<li><h2>
  Usuário não logado, <br>
  faça o cadastro abaixo
</h2></li>
<li> <button id="fichasjogador" [routerLink]="['/listafichas']" routerLinkActive="router-link-active" > Suas Fichas </button></li>
<li> <button id="criador" [routerLink]="['/criador']" routerLinkActive="router-link-active" > Criar Ficha </button></li>
<li> <button id="login" [routerLink]="['/login']" routerLinkActive="router-link-active" > Login </button></li>
<li> <button id="cadastro" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" > Cadastro </button></li>
</ul>
</div>

