<div class="sidebar">
  <div class="glassmorph">
  <div class="login-page">
    <div class="form">
      <form class="register-form" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="username" [(ngModel)]="nome_usuario"/>
        <input type="password" placeholder="password" [(ngModel)]="senha_usuario"/>
        <input type="text" placeholder="email address" [(ngModel)]="email_usuario"/>
        <button>Sign Up</button>
        <p class="message">Already registered? <a href="login">Sign In</a></p>
      </form>
    </div>
  </div>
</div>
</div>
